In [1]:
import numpy as np
import pandas as pd
import xlrd, xlwt
import xlsxwriter

In [2]:
# adjust to your liking
path = './data/'

In [3]:
wb = xlwt.Workbook()

In [4]:
wb

In [5]:
wb.add_sheet('first_sheet', cell_overwrite_ok=True)

In [6]:
wb.get_active_sheet()

0

In [7]:
ws_1 = wb.get_sheet(0)
ws_1

In [8]:
ws_2 = wb.add_sheet('second_sheet')

In [9]:
data = np.arange(1, 65).reshape((8, 8))

In [10]:
data

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32],
       [33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [49, 50, 51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62, 63, 64]])

In [11]:
ws_1.write(0, 0, 100)
  # write 100 in cell "A1"

In [13]:
wb.save(path + 'workbook.xls')

In [14]:
wb = xlsxwriter.Workbook(path + 'workbook.xlsx')

In [15]:
ws_1 = wb.add_worksheet('first_sheet')
ws_2 = wb.add_worksheet('second_sheet')

In [16]:
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws_1.write(r, c, data[c, r])
        ws_2.write(r, c, data[r, c])

In [17]:
wb.close()

In [18]:
wb = xlsxwriter.Workbook(path + 'chart.xlsx')
ws = wb.add_worksheet()

# write cumsum of random values in first column
values = np.random.standard_normal(15).cumsum()
ws.write_column('A1', values)

# create a new chart object
chart = wb.add_chart({'type': 'line'})

# add a series to the chart
chart.add_series({'values': '=Sheet1!$A$1:$A$15',
                  'marker': {'type': 'diamond'},})
  # series with markers (here: diamond)

# insert the chart
ws.insert_chart('C1', chart)

wb.close()

In [19]:
book = xlrd.open_workbook(path + 'workbook.xlsx')

In [20]:
book

In [21]:
book.sheet_names()

['first_sheet', 'second_sheet']

In [22]:
sheet_1 = book.sheet_by_name('first_sheet')
sheet_2 = book.sheet_by_index(1)
sheet_1

In [23]:
sheet_2.name

'second_sheet'

In [24]:
sheet_1.ncols, sheet_1.nrows

(8, 8)

In [25]:
cl = sheet_1.cell(0, 0)
cl.value

1.0

In [26]:
cl.ctype

2

In [27]:
sheet_2.row(3)

[number:25.0,
 number:26.0,
 number:27.0,
 number:28.0,
 number:29.0,
 number:30.0,
 number:31.0,
 number:32.0]

In [28]:
sheet_2.col(3)

[number:4.0,
 number:12.0,
 number:20.0,
 number:28.0,
 number:36.0,
 number:44.0,
 number:52.0,
 number:60.0]

In [29]:
sheet_1.col_values(3, start_rowx=3, end_rowx=7)

[28.0, 29.0, 30.0, 31.0]

In [30]:
sheet_1.row_values(3, start_colx=3, end_colx=7)

[28.0, 36.0, 44.0, 52.0]

In [31]:
for c in range(sheet_1.ncols):
    for r in range(sheet_1.nrows):
        print ('%i' % sheet_1.cell(r, c).value, end=' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64

In [32]:
import openpyxl as oxl

In [33]:
wb = oxl.Workbook()

In [34]:
ws = wb.create_sheet(index=0, title='oxl_sheet')

In [35]:
for c in range(data.shape[0]):
    for r in range(data.shape[1]):
        ws.cell(row=r+1, column=c+1).value = data[c, r]
        # creates a Cell object and assigns a value

In [36]:
wb.save(path + 'oxl_book.xlsx')

In [37]:
wb = oxl.load_workbook(path + 'oxl_book.xlsx')

In [38]:
ws = wb.get_active_sheet()

In [39]:
cell = ws['B4']

In [40]:
cell.column

'B'

In [41]:
cell.row

4

In [42]:
cell.value

12

In [43]:
ws['B1':'B4']

((<Cell 'oxl_sheet'.B1>,),
 (<Cell 'oxl_sheet'.B2>,),
 (<Cell 'oxl_sheet'.B3>,),
 (<Cell 'oxl_sheet'.B4>,))

In [47]:
for cell in ws['B1':'B4']:
    print(cell[0].value)

9
10
11
12

In [48]:
for row in ws['B1':'B4']:
    for cell in row:
        print(cell.value, end=' ')
    print

9 10 11 12

In [49]:
df_1 = pd.read_excel(path + 'workbook.xlsx',
                     'first_sheet', header=None)
df_2 = pd.read_excel(path + 'workbook.xlsx',
                     'second_sheet', header=None)

In [53]:
import string
columns = []
for c in range(data.shape[0]):
    columns.append(string.ascii_uppercase[c])
columns

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [54]:
df_1.columns = columns
df_2.columns = columns

In [55]:
df_1

   A   B   C   D   E   F   G   H
0  1   9  17  25  33  41  49  57
1  2  10  18  26  34  42  50  58
2  3  11  19  27  35  43  51  59
3  4  12  20  28  36  44  52  60
4  5  13  21  29  37  45  53  61
5  6  14  22  30  38  46  54  62
6  7  15  23  31  39  47  55  63
7  8  16  24  32  40  48  56  64

In [56]:
df_2

    A   B   C   D   E   F   G   H
0   1   2   3   4   5   6   7   8
1   9  10  11  12  13  14  15  16
2  17  18  19  20  21  22  23  24
3  25  26  27  28  29  30  31  32
4  33  34  35  36  37  38  39  40
5  41  42  43  44  45  46  47  48
6  49  50  51  52  53  54  55  56
7  57  58  59  60  61  62  63  64

In [57]:
df_1.to_excel(path + 'new_book_1.xlsx', 'my_sheet')

In [58]:
wbn = xlrd.open_workbook(path + 'new_book_1.xlsx')

In [59]:
wbn.sheet_names()

['my_sheet']

In [60]:
wbw = pd.ExcelWriter(path + 'new_book_2.xlsx')
df_1.to_excel(wbw, 'first_sheet')
df_2.to_excel(wbw, 'second_sheet')
wbw.save()

In [61]:
wbn = xlrd.open_workbook(path + 'new_book_2.xlsx')

In [62]:
wbn.sheet_names()

['first_sheet', 'second_sheet']

In [63]:
data = np.random.rand(20, 10000)

In [65]:
data.nbytes

1600000

In [66]:
df = pd.DataFrame(data)

In [67]:
%time df.to_excel(path + 'data.xlsx', 'data_sheet')

Wall time: 9.23 s

In [68]:
%time np.save(path + 'data', data)

Wall time: 3.01 ms

In [69]:
%time df = pd.read_excel(path + 'data.xlsx', 'data_sheet')

Wall time: 4.65 s

In [70]:
%time data = np.load(path + 'data.npy')

Wall time: 3.01 ms

In [71]:
data, df = 0.0, 0.0